.slide-left-leave-active, .slide-left-enter-active, .slide-right-leave-active, .slide-right-enter-active {
    transition: 0.35s;
}

.slide-left-enter {
    transform: translate(100%, 0);
}

.slide-left-leave-to {
    transform: translate(-100%, 0);
}

.slide-right-enter {
    transform: translate(-100%, 0);
}

.slide-right-leave-to {
    transform: translate(100%, 0);
}
