@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
    @apply text-gray-700 dark:text-gray-300
}

h2 {
    @apply text-xl lg:text-6xl font-bold text-sky-700 dark:text-sky-600 drop-shadow-md
}

p {
    @apply text-lg lg:text-2xl text-gray-300
}

html {
    --header-overlay-colour: hsl(185, 40%, 35%);
    --top-background-colour: hsl(184, 39%, 55%);
    --middle-background-colour-transparent: hsla(184, 20%, 52%, 0%);
    --middle-background-colour: hsl(184, 20%, 72%);
    --bottom-background-colour: hsl(184, 20%, 62%);
}

html.dark {
    --header-overlay-colour: hsl(185, 40%, 25%);

    --top-background-colour: hsl(184, 39%, 35%);
    --middle-background-colour-transparent: hsla(184, 20%, 52%, 0%);
    --middle-background-colour: hsl(185, 18%, 24%);
    --bottom-background-colour: hsl(184, 20%, 10%);
}


body {
    background: var(--top-background-colour);
    background: linear-gradient(
            180deg,
            var(--top-background-colour) 0,
            var(--top-background-colour) 31.99rem,
            var(--middle-background-colour) 32rem,
            var(--bottom-background-colour) 100%
    );
    margin: 0;
}